ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #d8d8d8;
}
.wrapper{
  background-image: url(test.jpg);
  height: 2900px;
  width: 1440px;
  overflow: hidden;
  background-color: black;
  
}

body{
  color: #d8d8d8;
  font-family: adobe-heiti-std, sans-serif;
  font-weight: 900;
  font-style: normal;
}

#nav-container{
  font-size: 20px;
  color: #d8d8d8;
  padding-left: 800px;
  padding-top: 800px;
  padding-bottom: none;

}

.name{
  font-size: 40px;
  padding-left: 900px;
  padding-top: 10px;
  padding-bottom: -50px;
  margin-bottom: 0px;


}

.mname{
  font-size: 40px;
  padding-left: 1000px;

}

.about{
  font-size: 12px;
  padding-top: 100px;
  padding-left: 700px;
  padding-right: 290px;
}

.at{
  font-size: 8px;
  padding-top: 60px;
  padding-left: 15%;

}

.container {/* Position them relative to the browser window */
  padding-left: 900px;
  padding-top: 700px;
  width: 900px;
  font-family: adobe-heiti-std, sans-serif;
  text-decoration: none; /* Remove underline */
  font-size: 15px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
 width: 50%; /* Full width */
 padding: 10px; /* Some padding */
 background-color: #ffffff00; /* Added 00 to make color transparent */
 border: .5px solid #ccc; /* Gray border */
 color: #d8d8d8;
 border-radius: 4px; /* Rounded borders */
 box-sizing: border-box; /* Make sure that padding and width stays in place */
 margin-top: 2px; /* Add a top margin */
 margin-bottom: 16px; /* Bottom margin */
 resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button {
 background-color: #ffffff00;
 font-size: 12px;
 color: #d8d8d8;
 padding: 6px 20px;
 border: .5px solid #ccc;
 border-radius: 4px;
 cursor: pointer;
 text-transform: uppercase;
}

/* When moving the mouse over the submit button, add a darker green color */
button:hover {
 border: .5px solid white;
}
